.custom-button {
    // min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background: #ffffff;
    color: #666666;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    margin-right: 1rem;
  
    &:hover {
      background-color: white;
      color: black;
     
    }
}
  
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
    .custom-button {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 10px;
    }
    }    
  